<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0021D8">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href=stylesheet.css> <!--Poppins Font -->
  
  <link rel="icon" type="image/png" href="/assets/favicon.png" />

  	<!-- OpenGraph -->
	<meta property="og:title" content="Furnex Network — Minecraft серверы">
	<meta property="og:url" content="https://furnex.org">
	<meta property="og:site_name" content="Furnex Network">
	<meta property="og:image" content="https://cdn.furnex.org/discord_assets/logo.jpg">
	<meta property="og:description" content="Крупномасштабный проект по созданию уникальных игровых режимов и серверов Minecraft без модификаций.">
    	<meta property="og:type" content="website">
    	<meta property="og:locale" content="ru_RU">
	<!-- OpenGraph -->
</head>
