<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0021D8">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href=stylesheet.css> <!--Poppins Font -->
  
  <link rel="icon" type="image/png" href="/assets/favicon.png" />

  <!-- OpenGraph -->
	<meta property="og:title" content="Feniksovich">
	<meta property="og:url" content="https://feniksovich.github.io">
	<meta property="og:site_name" content="Maxim Fenixov">
	<meta property="og:image" content="https://cdn.discordapp.com/attachments/660815313256054795/683691141736038409/loading_cat.png">
	<meta property="og:description" content="Junior Linux Software Specialist with experience administration of Pterodacyl Software, MariaDB, NGINX and Minecraft Servers.">
	<meta property="og:type" content="website">
	<!-- OpenGraph -->
</head>
