body {
  background-color: #26262b;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

body, html {
  overflow-x: hidden; 
}

h4.section {
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 32px; 
}
  h4.section i {
    vertical-align: middle;
    margin-right: 16px; 
  }

.projects {
  margin-bottom: 96px; 
}

header {
  height: 200px;
  position: relative; 
}
  header::before {
    z-index: -1;
    display: block;
    content: "";
    background: linear-gradient(to bottom, #ffa700 0%, #a56b00 100%);
    height: 300px;
    width: calc(100% + 200px);
    position: absolute;
    left: -100px;
    top: -100px;
    transform: rotate(-2deg); 
  }

.profile {
  transition: all 200ms ease-in-out;
  margin: -100px 0 128px;
  position: relative;
  display: flex;
  height: 300px;
  background-color: #ffa700;
  border-radius: 8px;
  padding: 64px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); }
  @media (max-width: 992px) {
    .profile {
      flex-direction: column;
      height: auto;
      padding: 48px; } }
  .profile::before {
    position: absolute;
    transition: opacity 200ms ease-in-out;
    content: "";
    display: block;
    background: linear-gradient(to bottom, #ffa700 0%, #c27e00 100%);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    left: 0;
    top: 0;
    opacity: 0; }
  .profile .profile-text {
    position: relative;
    flex-grow: 1;
    height: 100%; }
    .profile .profile-text .text-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white; }
      .profile .profile-text .text-header h1.title {
        font-weight: 900; }
        @media (max-width: 992px) {
          .profile .profile-text .text-header h1.title {
            margin: 30px 0; } }
      .profile .profile-text .text-header i {
        opacity: 0.25;
        transition: opacity 250ms ease-in-out; }
    .profile .profile-text p.description {
      color: rgb(255, 255, 255);
      font-weight: 300;
      font-size: 14px;
      line-height: 1.5;
      position: absolute;
      bottom: 0;
      width: 100%; }
      .profile .profile-text p.description .important {
        font-weight: bold;
        color: white; }
      @media (max-width: 992px) {
        .profile .profile-text p.description {
          position: relative; } }
  .profile .profile-image {
    transition: margin 250ms ease-in-out;
    margin-right: 60px;
    position: relative;
    display: block;
    height: 250px;
    width: 250px;
    margin-top: 16px;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); }
    @media (max-width: 768px) {
      .profile .profile-image {
        width: 100%;
        height: auto; } }
    @media (max-width: 992px) {
      .profile .profile-image {
        margin-top: 0; } }
    .profile .profile-image img {
      height: 250px;
      width: 250px;
      display: block;
      border-radius: 8px; }
      @media (max-width: 768px) {
        .profile .profile-image img {
          width: 100%;
          height: auto; } }
    .profile .profile-image::before {
      transition: all 250ms ease-in-out;
      display: block;
      content: "";
      position: absolute;
      width: 90%;
      height: 8px;
      left: 5%;
      top: -8px;
      border-radius: 4px 4px 0 0;
      background-color: rgba(0, 0, 0, 0.15); }
      @media (max-width: 992px) {
        .profile .profile-image::before {
          display: none; } }
    .profile .profile-image::after {
      transition: all 250ms ease-in-out;
      display: block;
      content: "";
      position: absolute;
      width: 80%;
      height: 8px;
      left: 10%;
      top: -16px;
      border-radius: 4px 4px 0 0;
      background-color: rgba(0, 0, 0, 0.05); }
      @media (max-width: 992px) {
        .profile .profile-image::after {
          display: none; } }
  .profile:hover::before {
    opacity: 1; }
  .profile:hover .profile-text .text-header i {
    opacity: 0.75; }
  @media (min-width: 992px) {
    .profile:hover {
      transform: scale(0.99); }
      .profile:hover .profile-image {
        margin-top: 8px; }
        .profile:hover .profile-image::before {
          background-color: transparent;
          width: 100%;
          left: 0; }
        .profile:hover .profile-image::after {
          top: -8px;
          width: 90%;
          left: 5%;
          background-color: rgba(0, 0, 0, 0.1); } }

footer {
  position: relative;
  padding-top: 4px;
  overflow: hidden; 
}
  footer .contact {
    padding: 40px;
    position: relative;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
    background-color: #1A1A1A;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
    transition: transform 250ms ease-in-out; }
    footer .contact h3.title {
      position: relative;
      font-size: 24px;
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
      background: linear-gradient(to right, #ffa700 0%, #b97900 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: -webkit-text-fill-color 250ms ease-in-out; }
    footer .contact p.description {
      position: relative;
      color: rgba(255, 255, 255, 0.5);
      font-size: 12px;
      transition: color 250ms ease-in-out; }
    footer .contact .hover {
      position: absolute;
      bottom: 40px;
      right: 40px;
      color: rgba(255, 255, 255, 0.5);
      transition: right 250ms ease-in-out; }
    footer .contact .corner {
      height: 64px;
      width: 84px;
      padding: 20px;
      border-radius: 4px 0 0 4px;
      position: absolute;
      bottom: 20px;
      right: -84px;
      background-color: #1A1A1A;
      transition: all 250ms ease-in-out; }
      footer .contact .corner i {
        color: rgba(255, 255, 255, 0.5); }
    @media (min-width: 768px) {
      footer .contact:hover {
        transform: translateY(-4px); } }
    footer .contact:hover h3.title {
      -webkit-text-fill-color: white; }
    footer .contact:hover p.description {
      color: #f2c94c; }
    footer .contact:hover::before {
      opacity: 1; }
    footer .contact:hover .corner {
      right: 0; }
    footer .contact:hover .hover {
      right: -44px; }
    footer .contact::before {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 8px;
      background: linear-gradient(to right, #ffa700 0%, #b97900 100%);
      opacity: 0;
      transition: opacity 250ms ease-in-out;
      left: 0;
      top: 0; }
  footer p.copyright {
    color: rgba(255, 255, 255, 0.25);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    margin: 18px 0 50px;
    text-align: center; }
    footer p.copyright a {
      color: rgba(255, 255, 255, 0.5);
      transition: color 100ms ease-in-out; }
      footer p.copyright a:hover {
        color: rgba(255, 255, 255, 0.75); }
  footer::before {
    z-index: -1;
    display: block;
    content: "";
    background-color: #0E0E0E;
    height: 100%;
    width: calc(100% + 200px);
    position: absolute;
    left: -100px;
    top: 20%;
    transform: rotate(1deg); }
    @media (max-width: 768px) {
      footer::before {
        top: 10%; } }

p, h2, h1, h3, h4 {
  margin: 0; }

a {
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
